<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>HTML email template</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
  </head>

  <body style="background-color: #ffffff; font-size: 16px;">
    <center>
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
          <!-- BEGIN EMAIL -->
          <tr>
            <td align="center" bgcolor="#ffffff" style="padding:30px">
              <p style="text-align:left">Hola,<br><br> Hemos recibido una solicitud para restablecer la contraseña de su cuenta para esta dirección de correo electrónico. Para iniciar el proceso de restablecimiento de contraseña para su cuenta, haga clic en el enlace de abajo.
              </p>
              <p>
                <a target="_blank" style="text-decoration:none; background-color: black; border: black 1px solid; color: #fff; padding:10px 10px; display:block;" href="{{ url }}">
                  <strong>Cambiar contraseña</strong>
                </a>
              </p>
              <p style="text-align:left">Este enlace solo se puede usar una vez. Si necesita restablecer su contraseña nuevamente, visite <a href="{{ url }}">website.com</a> y solicite otro restablecimiento.<br><br>Si no realizó esta solicitud, simplemente puede ignorar este correo electrónico.</p>
              <p style="text-align:left">
              Sinceramente,<br>Glik
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>